# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turborepo
.turbo

# IDEs
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Temporary Artifacts
*.xlsx
stitch_design.html
